@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Pedro Mata Rodrigues:</strong> <a href="https://www.linkedin.com/in/pmatarodrigues/">LinkedIn </a> | <a href="https://github.com/pmatarodrigues">Github</a><br />
</address> <strong>Benjamim Oliveira:</strong> <a href="https://www.linkedin.com/in/benjamim-oliveira-60b89315b/">LinkedIn </a> | <a href="https://github.com/BenjamimOliveira">Github</a><br />