@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Bem-Vindo</h1>
    <p class="lead">
        Esta aplicação web foi desenvolvida para a unidade curricular de ESII.
        <img src="~/Imagens/logos-ESTG.png" alt="Logo IPVC" align="middle" />
        <img src="~/Imagens/logo.png" alt="Logo MusicRepo" align="middle" />
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Desenvolvido por:</h2>

    </div>
    <div class="col-md-4">
        <h2>Benjamim Oliveira</h2>
        <p>Número 19160</p>
        <p><a class="btn btn-primary" href="https://www.linkedin.com/in/benjamim-oliveira-60b89315b/">
            <img src="~/Imagens/linkedin-logo.png" alt="addIcon" align="middle" />
            LinkedIn &raquo;
</a></p>
        <p><a class="btn btn-primary" href="https://github.com/BenjamimOliveira">
            <img src="~/Imagens/github-logo.png" alt="addIcon" align="middle" />
            Github &raquo;
</a></p>

    </div>
    <div class="col-md-4">
        <h2>Pedro Mata Rodrigues</h2>
        <p>Número 18472</p>
        <p><a class="btn btn-primary" href="https://www.linkedin.com/in/pmatarodrigues">
            <img src="~/Imagens/linkedin-logo.png" alt="addIcon" align="middle" />
            LinkedIn &raquo;
</a></p>
        <p><a class="btn btn-primary" href="https://github.com/pmatarodrigues">
               <img src="~/Imagens/github-logo.png" alt="addIcon" align="middle" />
                Github &raquo;
</a></p>
    </div>
</div>