@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <p class="lead">
        <img src="~/Imagens/banner.png" alt="Banner" align="middle" />
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <p>
        <a class="btn-lg btn-success" href="/Albums">
            <img src="~/Imagens/album.png" alt="albumLogo" />
            Albums
        </a>
        </p> <p>
        <a class="btn-lg btn-success" href="/Artistas">
            <img src="~/Imagens/artista.png" alt="artistaLogo" />
            Artistas
        </a>
        </p> <p>
        <a class="btn-lg btn-success" href="/Editoras">
            <img src="~/Imagens/editora.png" alt="editoraLogo" />
            Editoras
        </a>
        </p> <p>
        <a class="btn-lg btn-success" href="/Festivals">
            <img src="~/Imagens/festival.png" alt="festivalLogo" />
            Festivais
        </a>
        </p> <p>
        <a class="btn-lg btn-success" href="/Musicas">
            <img src="~/Imagens/musica.png" alt="musicaLogo" />
            Musicas
        </a>
        </p>

    </div>
    <div class="col-md-4">
        <h2 style="font-size:25pt">Benjamim Oliveira</h2>
        <p style="font-size:15pt">Número 19160</p>
        <p><a class="btn btn-primary" href="https://www.linkedin.com/in/benjamim-oliveira-60b89315b/">
            <img src="~/Imagens/linkedin-logo.png" alt="addIcon" align="middle" />
            LinkedIn &raquo;
</a></p>
        <p><a class="btn btn-primary" href="https://github.com/BenjamimOliveira">
            <img src="~/Imagens/github-logo.png" alt="addIcon" align="middle" />
            Github &raquo;
</a></p>

    </div>
    <div class="col-md-4">
        <h2 style="font-size:25pt">Pedro Mata Rodrigues</h2>
        <p style="font-size:15pt">Número 18472</p>
        <p><a class="btn btn-primary" href="https://www.linkedin.com/in/pmatarodrigues">
            <img src="~/Imagens/linkedin-logo.png" alt="addIcon" align="middle" />
            LinkedIn &raquo;
</a></p>
        <p><a class="btn btn-primary" href="https://github.com/pmatarodrigues">
               <img src="~/Imagens/github-logo.png" alt="addIcon" align="middle" />
                Github &raquo;
</a></p>
    </div>
</div>